.boards-overview-panel {
    width: 100%;
    border: 0.063rem solid black;
    margin-top: 2.5rem;
}

.boards-overview-panel__top-box {
    background-color: maroon;
    font-size: 131%;
    font-weight: 700;
}

.boards-overview-panel__top-box__text {
    padding-left: 0.5em;
    font-size: 0.938rem;
    color: white;
    font-weight: bold;
}

.boards-overview-panel__description-box {
    padding: 0.5em;
    line-height: 1.5em;
}
