/ReactBoard/bin
/ReactBoard.Domain/bin
/ReactBoard.Infrastructure/bin
/ReactBoard/obj
/ReactBoard.Domain/obj
/ReactBoard.Infrastructure/obj
/ReactBoard/ClientApp/node_modules
/ReactBoard/.vs
/.vs
*.map
*.js
