@import '../../breakpoints.scss';

.admin-page {
    margin: auto;
    text-align: left;
    min-width: 20rem;

    #siteIcon {
        cursor: pointer;
    }

    @include breakpoint-device(desktop) {
        width: 46.875rem;
    }

    @include breakpoint-device(mobile) {
        width: 21.5rem;
        font-size: 1rem;
    }

    .panel {
        margin-bottom: 1.25rem;
    }
}