.panel {
    width: 100%;
    border: 0.063rem solid black;
}

.panel__top-box {
    background-color: maroon;
    font-weight: bold;
    position: relative;

    #closeIcon {
        cursor: pointer;
        display: inline-block;
        margin-left: 0.3125rem;
        margin-right: 0.2rem;
        vertical-align: middle;
    }
}

.panel__top-box__options-container {
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 0;
}

.panel__top-box__text {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 0.5rem;
    color: white;
    font-weight: 700;
}

.panel__description-box {
    padding: 0.5rem;
    line-height: 1.4rem;
}
