.panel {
    width: 100%;
    border: 1px solid black;

    svg {
        float: right;
    }

    &-top-box {
        background-color: maroon;
        font-size: 131%;
        font-weight: 700;
        position: relative;

        &-text {
            padding-left: .5em;
            font-size: 15px;
            color: white;
            font-weight: bold;
        }
    }

    &-description-box {
        padding: .5em;
        line-height: 1.5em;
    }
}
