.panel {
    width: 100%;
    border: 0.063rem solid black;
}

.panel__top-box {
    background-color: maroon;
    font-size: 131%;
    font-weight: 700;
    position: relative;
}

.panel__top-box__text {
    padding-left: 0.5em;
    font-size: 0.938rem;
    color: white;
    font-weight: bold;
}

.panel__description-box {
    padding: 0.5em;
    line-height: 1.5em;
}

svg {
    float: right;
}
