.footer {
    font-size: 0.688rem;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.footer__link {
    display: inline-block;
    margin-right: 0.313rem;
}

.footer__copyright-notice {
    display: block;
    padding-top: 1.25rem;
}
