body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
    color: black;
    font: 0.813rem/1.231 arial,helvetica,clean,sans-serif;

    .highlightable-link {
        color: blue;
    }

    .highlightable-link:hover {
        color: red;
    }
}