@import '../../breakpoints.scss';

.home-panel {
    margin: auto;
    text-align: left;
    min-width: 20rem;

    .panel {
        margin-bottom: 1.25rem;
    }

    #siteIcon {
        cursor: pointer;
        display: block;
        padding: 1rem 0 1rem 0;
        margin: auto;
    }

    @include breakpoint-device(desktop) {
        width: 46.875rem;
    }

    @include breakpoint-device(mobile) {
        width: 21.5rem;
        font-size: 1rem;
    }
}

.home-panel__statistics-table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.home-panel__statistics-table__body {

}

.home-panel__statistics-table__body__row {

}

.home-panel__statistics-table__body__row__head {
    font-weight: normal;
}