.panel-dropdown {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    vertical-align: sub;
}

.panel-dropdown__option {
    color: black;
    cursor: pointer;
}